@using MvcCoreCv.Entities
@model TblHobby
@{
    ViewData["Title"] = "UpdateHobby";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>UpdateHobby</h1>

<form class="form-group" method="post">
    <input type="text" asp-for="Description" class="form-control" placeholder="Hobi Başlık giriniz." />
    <br />
    <input type="text" asp-for="Description2" class="form-control" placeholder="Hobi içerik giriniz." />
    <br />    
    
    <button class="btn btn-info">Güncelle</button>
</form>

