@using MvcCoreCv.Entities
@model TblSocial
@{
    ViewData["Title"] = "UpdateSocial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Sosyal Medya Güncelleme </h1>

<form class="form-group" method="post">
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <input type="text" asp-for="Link" class="form-control" />
    <br />
    <input type="text" asp-for="Icon" class="form-control" />
    <br />
    <div class="card">
        <div class="card-body">
            <input type="radio" asp-for="Status" value="True" checked="@(Model.Status==true ? true:false)"> Aktif<br>
            <input type="radio" asp-for="Status" value="False" checked="@(Model.Status==true ? false:true)"> Pasif<br>
        </div>
    </div>
    
    <button class="btn btn-success">Güncelle</button>
</form>
