@using MvcCoreCv.DTOs
@model EducationDto
@{
    ViewData["Title"] = "AddEducation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h1>Eğitim Bilgisi Ekle</h1>

<form class="form-group" method="post">
    <input type="text" asp-for="Title" class="form-control" placeholder="Okul Ekle..." />
    <span asp-validation-for="Title" class="text-danger"></span>
    <br />
   
    <input type="text"  asp-for="SubTitle1" class="form-control" placeholder="Bölüm Ekle..." />
    <span asp-validation-for="SubTitle1" class="text-danger"></span>
    <br />
   
    <input type="text" asp-for="SubTitle2" class="form-control" placeholder="Bölüm-2 Ekle..." />
    <span asp-validation-for="SubTitle2" class="text-danger"></span>
    <br />
    
    <input type="text" asp-for="GPA" class="form-control" placeholder="Not Ortalaması..." />
    <span asp-validation-for="GPA" class="text-danger"></span>
    <br />
   
    <input type="text" asp-for="Date" class="form-control" placeholder="Tarih Ekle..." />
    <span asp-validation-for="Date" class="text-danger"></span>
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>

@section Scripts
    {
    @* Veriler servera gitmeden önce Client taraflı validasyon yapılıyor. ve sayfa yenilenmez.*@
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}