

<div class="resume-section-content">
    <h2 class="mb-5">İletişim Paneli</h2>
    <form asp-action="iletisim" asp-controller="Default" method="post">
    <label>Ad-Soyad</label>
    <input type="text" name="FullName" class="form-control" />

    <label>E-Mail</label>
        <input type="text" name="Mail" class="form-control" />

    <label>Konu</label>
    <input type="text" name="Subject" class="form-control" />

    <label>Mesaj</label>
    <input type="text" name="Message" class="form-control" /><br />
    <button class="btn btn-info">Gönder</button>
    </form>
</div>
